[Unit]
Description=EtherPi (SNMP -> LEDs + Sync + Display)
After=network-online.target

[Service]
User=root
WorkingDirectory=/home/pi/etherlight-pi
ExecStart=/usr/bin/python3 /home/pi/etherlight-pi/app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
