[Unit]
Description=EtherPi (SNMP -> LEDs + Sync + Display)
After=network-online.target

[Service]
User=root
WorkingDirectory=__BASE_DIR__
ExecStart=__BASE_DIR__/.venv/bin/python __BASE_DIR__/app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
